#result {
    background-color: #fff;
    border-radius: 5px;
    margin-right: 87px;
    margin-top: 5px;
    position: absolute;
    z-index: 1000;
    .items {
        width: 513px;
        max-height: 400px;
        overflow: auto;
        .item {
            padding:10px 55px;
            img {
                width:100px;
                height:100px;
            }
        }
    }
}